body, html {
  width: 95%;
  height: 95%;
  margin: 15px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  background-color: #333333;
}
#randomWiki, #submit {
  margin: 5px;
  color: #EA553D;
  padding: 5px;
}
h4 {
  padding: 8px 0 0 8px;
  margin:  0  0 8px 0;
  color: #EA553D;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 20px 0;
  background-color: #2B2C31;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
 a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
li > div {
  background-color: #2A292F;
  border-radius: 5px;
  color: #AEB5BF;
  padding: 8px;
}
.form-control {
  margin-top: 10px;
}
